@font-face {
    font-family: OpenSans-Bold;
    src: url(Open Sans/OpenSans-Bold);
}

@font-face {
    font-family: OpenSans-Italic;
    src: url(Open Sans/OpenSans-Italic);
}

@font-face {
    font-family: OpenSans-Light;
    src: url(Open Sans/OpenSans-Light);
}

@font-face {
    font-family: OpenSans-Regular;
    src: url(Open Sans/OpenSans-Regular);
}
@font-face {
    font-family: OpenSans-SemiBold;
    src: url(Open Sans/OpenSans-SemiBold);
}